.content-container {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 0 1rem;
}

.right-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right__wrapper {
    max-width: 900px;
    width: 100%;
    margin-top: 50px;
}

.header {
    text-align: center;
    color: white;
}

.header-buttons__container {
    display: flex;
    gap: 0.8rem;
}

#notification-button {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
}

#notification-button:active {
    background-color: rgba(
            0,
            0,
            0,
            0.1
    ); /* Змінюємо колір фону кнопки при натисканні */
}

#notification-button:hover {
    transform: rotate(15deg) translateY(-2px);
}

#notification-button svg {
    width: 100%;
    height: 100%;
    color: white;
}
.profile-info-class {
    display: inline-block;
    position: absolute;
    left: 95%;
}
.profile-info-button-class {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.profile-info-button-class svg {
    margin-right: 7px;
    color: white;
}

.modal__masage {
    position: absolute;
    top: 47px;
    right: 0.5rem;
    background: #fff;
    padding: 20px;
    max-width: 400px;
    border: 1px solid #9e9393;
    display: none;
}

.modal__masage-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal__masage-container:last-child {
    margin-bottom: 0;
}

.modal__masage-adreser {
    margin-right: 20px;
}

.modal__masage-box {
    width: 200px;
    height: 40px;
    background: lightgray;
    border-radius: 10px;
}

.modal__masage-image {
    display: flex;
    justify-content: center;
}

.modal__account a {
    color: #000;
}

.modal__account-block {
    color: #000;
}

.modal__masage-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal__account {
    position: absolute;
    top: 47px;
    right: 8px;
    background: #fff;
    max-width: 400px;
    border: 1px solid #9e9393;
    display: none;
}

.modal__account-block {
    padding: 15px 40px;
    text-align: center;
    border-bottom: 1px solid #9e9393;
    display: block;
    color: #222222;
    transition: all 0.3s;
}

.modal__account-block:hover {
    text-decoration: underline;
    color: #676767;
}

.modal__account-block:last-child {
    border-bottom: none;
}

.navigation-class {
    height: 40px;
    background-color: #424242;
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}