@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

header {
  background-color: #bed7a4;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  transition: 0.3s;

  cursor: pointer;
}

.dropdown-button img {
  width: 25px;
}

.dropdown-button.bell-button {
  transform: scale(1);
}

.dropdown-button.bell-button:hover {
  background-color: lightgray;
  transform: scale(1.2);
}

.dropdown-button.bell-button::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;

  position: absolute;
  right: 8px;
  top: 8px;

  display: none;
}

.dropdown-button.bell-button.active::before {
  display: block;
}

.dropdown-button.user {
  background-color: white;
  transform: scale(1);
}

.dropdown-button.user:hover {
  background-color: lightgray;
  transform: scale(1.2);
}

.dropdown-container .dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  padding: 0.3rem;
  background-color: lightblue;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
}

.dropdown-container:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.bell__dropdown-empty {
  white-space: nowrap;
  padding: 0.5rem;
}

.user-dropdown__button {
  width: 100%;
  padding: 6px;
  font-size: 1rem;

  border-radius: 8px;

  cursor: pointer;

  transition: 0.3s;

  background-color: transparent;
}

.user-dropdown__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  flex-grow: 1;
  padding-top: 2rem;

  display: flex;

  gap: 2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside a {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: black;

  transform: scale(1);

  transition: 0.2s;
}

aside a:hover {
  transform: scale(1.15);
}

.main-content {
  flex-grow: 1;
}

.table-container {
  padding-top: 1rem;
}

.add-user-button {
  border: 1px solid black;
  border-radius: 5px;

  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  margin-left: auto;

  cursor: pointer;

  transform: scale(1);

  transition: 0.3s;
}

.add-user-button:hover {
  transform: scale(1.2);
}

.students-table-wrapper {
  width: 100%;
  max-height: 700px;
  height: 100%;
  margin-top: 1rem;
  overflow: auto;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
}

.table-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-checkbox-container input {
  width: 20px;
  height: 20px;
}

.students-table th,
.students-table td {
  border: 1px solid #0b7801;
  padding: 8px;
  text-align: center;
}

.students-table th {
  background-color: #98df5e;
}

.students-table tr:nth-child(even) {
  background-color: #b1efac;
}

.students-table tr:hover {
  background-color: #d8eac8;
}

.students-table .indicator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.students-table .indicator-container .indicator {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

.students-table .indicator-container.active .indicator {
  background-color: green;
}

.options-buttons-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.options-button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.options-button img {
  width: 20px;
}

.pagination {
  margin-top: 1.5rem;
  width: 100%;

  display: flex;
  justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a.prev,
.pagination a.next {
  background-color: #f1f1f1;
}

.pagination a.disabled {
  pointer-events: none;
  color: #aaa;
}

.pagination .prev {
  margin-right: 5px;
}

.pagination .next {
  margin-left: 5px;
}

footer {
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* MODALS */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  /* display: none; */
  visibility: hidden;
  opacity: 0;

  transition: 0.4s;
}

.modal.active {
  visibility: visible;
  opacity: 1;

  transition: 0s;
}

.modal .modal-dialog {
  width: 100%;
  max-width: 800px;

  margin-left: 15px;
  margin-right: 15px;

  border-radius: 12px;

  background-color: white;

  position: relative;
  z-index: 1;

  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);

  transition: 0.4s;
}

.modal.active .modal-dialog {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.modal .overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);

  visibility: hidden;
  opacity: 0;

  transition: 0.2s;
}

.modal.active .overlay {
  visibility: visible;
  opacity: 1;
}

.modal-dialog .title {
  padding: 1rem;
  font-weight: 700;

  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .title .close-button {
  width: 30px;
  height: 30px;

  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;
}

.modal .content {
  padding: 15px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.modal .content .row {
  max-width: 400px;
  width: 100%;
}

.modal .row input,
.modal .row select {
  font-size: 0.9rem;
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 40px;
  padding: 0 10px;
  flex-grow: 1;
}

.modal .row label {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.modal .row label span {
  width: 100px;
}

.modal .bottom {
  border-top: 1px solid black;
  padding: 1rem;

  display: flex;
  justify-content: end;
  gap: 1rem;
}

.modal .bottom .bottom-button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 8px;

  cursor: pointer;

  background-color: transparent;

  transition: 0.3s;
}

.modal .bottom button:hover {
  background-color: lightgray;
}

.modal-delete-text {
  padding: 2rem 0;
  font-size: clamp(16px, 3vw, 1.5rem);
  text-align: center;
}

@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  aside {
    flex-direction: row;
  }
}
