<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
            name="description"
            content="Page includes first part of my web development on web developing course at uni, Author: V.Voin"
    />
    <title>MyWebSite</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./header.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
</head>
<body>
<div>
    <header class="navigation-container">
        <nav class="navigation-class">
            <div class="header">CMS</div>
            <div class="header-buttons__container">
                <button id="notification-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path
                                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"
                            />
                            <path
                                    fill="currentColor"
                                    d="M15 19a2 2 0 0 1-1.85 1.995L13 21h-2a2 2 0 0 1-1.995-1.85L9 19zM12 2a7 7 0 0 1 6.996 6.76L19 9v3.764l1.822 3.644a1.1 1.1 0 0 1-.869 1.586l-.115.006H4.162a1.1 1.1 0 0 1-1.03-1.487l.046-.105L5 12.764V9a7 7 0 0 1 7-7m0 2a5 5 0 0 0-4.995 4.783L7 9v3.764a2 2 0 0 1-.136.725l-.075.17L5.619 16h12.763l-1.17-2.342a2.002 2.002 0 0 1-.203-.709L17 12.764V9a5 5 0 0 0-5-5"
                            />
                        </g>
                    </svg>
                </button>
                <button class="profile-info-button-class">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.7em"
                            height="1.7em"
                            viewBox="0 0 256 256"
                    >
                        <path
                                fill="currentColor"
                                d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56"
                        />
                    </svg>
                    <a
                            id="profile-action-menu"
                            href="#"
                            data-toggle="dropdown"
                            role="button"
                            style="color: azure"
                    >James Bond</a
                    >
                </button>
            </div>
        </nav>
    </header>
</div>
<div class="content-container">
    <div class="links-div">
        <a id="dashboard-link" href="#" role="button">Dashboard</a>
        <a id="students-link" href="/" role="button">Students</a>
        <a id="tasks-link" href="/tasks" role="button">Tasks</a>
    </div>

    <div class="right-container">
        <div class="right__wrapper">
            <div>
                <h1 id="students-text">Students</h1>
            </div>

            <div class="table-container">
                <table class="scrollable-table">
                    <thead>
                    <tr>
                        <th><input aria-label="checkbox" type="checkbox" value="" /></th>
                        <th>Group</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Birthday</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody id="my-students-table-body"></tbody>
                </table>
            </div>
        </div>
    </div>

    <button id="students-add-button">+</button>
</div>

<!-- "+" Modal window -->
<div class="adding__page">
    <div class="adding__block">
        <div class="adding__header">
            <h2 class="chaning__title">Add Student</h2>
            <button class="close-button">&times;</button>
        </div>
        <form class="adding__form" method="post" action="/add-user">
            <div class="form__flex-box">
                <div class="form__item">
                    <select class="group__input" name="group">
                        <option value="" disabled selected hidden>Select Group</option>
                        <option value="PZ-21">PZ-21</option>
                        <option value="PZ-22">PZ-22</option>
                        <option value="PZ-23">PZ-23</option>
                        <option value="PZ-24">PZ-24</option>
                        <option value="PZ-25">PZ-25</option>
                        <option value="PZ-26">PZ-26</option>
                        <option value="PZ-27">PZ-27</option>
                    </select>
                </div>
                <div class="form__item">
                    <input class="fname__input" type="text" name="fname" placeholder="First name" />
                </div>
                <div class="form__item">
                    <input class="lname__input" type="text" name="lname" placeholder="Last name" />
                </div>
                <div class="form__item">
                    <select class="gender__input" name="gender">
                        <option value="" disabled selected hidden>Select Gender</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </div>
                <div class="form__item">
                    <input class="birthday__input" type="date" name="birthday" />
                </div>
                <!-- Hidden ID Field -->
                <div class="form__item">
                    <input
                            type="hidden"
                            id="hidden-input"
                            name="student_id"
                            value="your_student_id_here"
                    />
                </div>
            </div>
        </form>
        <div class="adding__footer">
            <button class="close-button">Cancel</button>
            <button type="submit" class="confirm__adding">Create</button>
        </div>
    </div>
</div>

<!--notification on hover block-->
<div class="modal__masage">
    <div class="modal__masage-container">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="2560px-A-Cat.jpg" alt="cat" />
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
    <div class="modal__masage-container">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="2560px-A-Cat.jpg" alt="cat" />
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
    <div class="modal__masage-container">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="2560px-A-Cat.jpg" alt="cat" />
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
</div>

<!--account on hover block-->
<div class="modal__account">
    <a href="#" class="modal__account-block">
        <span>Profile</span>
    </a>
    <a href="#" class="modal__account-block">
        <span>Log out</span>
    </a>
</div>

<!--"Edit" modal window-->
<div class="edit-page">
    <div class="edit-block">
        <div class="edit-header">
            <h2 class="edit-title">Edit Student</h2>
            <button class="close-button">&times;</button>
        </div>
        <form class="edit-form">
            <div class="form-flex-box">
                <div class="form-item">
                    <select class="group-input" name="group">
                        <option value="" disabled selected hidden>Select Group</option>
                        <option value="PZ-21">PZ-21</option>
                        <option value="PZ-22">PZ-22</option>
                        <option value="PZ-23">PZ-23</option>
                        <option value="PZ-24">PZ-24</option>
                        <option value="PZ-25">PZ-25</option>
                        <option value="PZ-26">PZ-26</option>
                        <option value="PZ-27">PZ-27</option>
                    </select>
                </div>
                <div class="form-item">
                    <input class="fname-input" type="text" name="fname" placeholder="First name" />
                </div>
                <div class="form-item">
                    <input class="lname-input" type="text" name="lname" placeholder="Last name" />
                </div>
                <div class="form-item">
                    <select class="gender-input" name="gender">
                        <option value="" disabled selected hidden>Select Gender</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
                </div>
                <div class="form-item">
                    <input class="birthday__input" type="date" name="birthday" />
                </div>
            </div>
        </form>
        <div class="editing-footer">
            <button class="close-button">Cancel</button>
            <button class="confirm-editing">Edit</button>
        </div>
    </div>
</div>

<!--"delete" modal window-->

<div class="warning__page">
    <div class="warning__block">
        <div class="warning__header">
            <h2>Warning</h2>
            <button class="close-button">X</button>
        </div>
        <div class="warning__main">Are you sure you want to delete user?</div>
        <div class="warning__footer">
            <button class="confirm__warning">Ok</button>
            <button class="cancel-button">Cancel</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="./script.js"></script>
</body>
</html>
