<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
            name="description"
            content="Page includes second part of my web development on web developing course at uni, Author: V.Voin"
    >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./tasks.css">
</head>
<body>


<div>
    <header class="navigation-container">
        <nav class="navigation-class">
            <div class="header">CMS</div>
            <div class="header-buttons__container">
                <button aria-label="notifications"  id="notification-button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                        <path fill="currentColor" d="M15 19a2 2 0 0 1-1.85 1.995L13 21h-2a2 2 0 0 1-1.995-1.85L9 19zM12 2a7 7 0 0 1 6.996 6.76L19 9v3.764l1.822 3.644a1.1 1.1 0 0 1-.869 1.586l-.115.006H4.162a1.1 1.1 0 0 1-1.03-1.487l.046-.105L5 12.764V9a7 7 0 0 1 7-7m0 2a5 5 0 0 0-4.995 4.783L7 9v3.764a2 2 0 0 1-.136.725l-.075.17L5.619 16h12.763l-1.17-2.342a2.002 2.002 0 0 1-.203-.709L17 12.764V9a5 5 0 0 0-5-5" />
                    </g>
                </svg></button>
                <button  aria-label="profile"  class="profile-info-button-class">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 256 256">
                        <path fill="currentColor" d="M230.92 212c-15.23-26.33-38.7-45.21-66.09-54.16a72 72 0 1 0-73.66 0c-27.39 8.94-50.86 27.82-66.09 54.16a8 8 0 1 0 13.85 8c18.84-32.56 52.14-52 89.07-52s70.23 19.44 89.07 52a8 8 0 1 0 13.85-8M72 96a56 56 0 1 1 56 56a56.06 56.06 0 0 1-56-56" />
                    </svg>
                    <a id="profile-action-menu" href="#" data-toggle="dropdown" role="button" style="color: azure;">James Bond</a>
                </button>
            </div>
        </nav>
    </header>
</div>
    <main class="main">
        <div class="main__container">
            <div class="main__flex-box">
                <nav class="navigation">
                    <div class="navigation__block">
                        <a href="#">Dashboard</a>
                    </div>
                    <div class="navigation__block">
                        <a href="/">Students</a>
                    </div>
                    <div class="navigation__block">
                        <a href="/tasks">Tasks</a>
                    </div>
                </nav>
                <section class="content">
                    <div class="container-fluid">
                        <h1 class="display-5">Tasks</h1>

                        <div class="container-fluid">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                                <div class="col-lg">
                                    <div class="parent-node d-flex flex-column p-4 bg-danger text-white h-100">
                                        <h3 class="text-center display-7">To do</h3>
                                        <div class="h4 empty__massage">List empty...</div>
                                        <ul class="flex-grow-1 my-4 list-group">
                                            <li class="list-group-item py-4">
                                                <span>Task 1</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task 2</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                        </ul>
                                        <button aria-label="addtaskbutton" class="btn text-black bg-white" type="submit">+ Add
                                            task</button>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="parent-node d-flex flex-column p-4 bg-primary text-white h-100">
                                        <h3 class="text-center display-7">In progress</h3>
                                        <div class="h4 empty__massage">List empty...</div>
                                        <ul class="flex-grow-1 my-4 list-group">
                                            <li class="list-group-item py-4">
                                                <span>Task 3</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task 4</span>
                                                <span>01.01</span>
                                            </li>
                                        </ul>
                                        <button aria-label="addtaskbutton"  class="btn text-black bg-white" type="submit">+ Add
                                            task</button>
                                    </div>
                                </div>
                                <div class="col-lg col-md-12">
                                    <div class="parent-node d-flex flex-column p-4 bg-success text-white h-100">
                                        <h3 class="text-center display-7">Done</h3>
                                        <div class="h4 empty__massage">List empty...</div>
                                        <ul class="flex-grow-1 my-4 list-group">
                                            <li class="list-group-item py-4">
                                                <span>Task 5</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                            <li class="list-group-item py-4">
                                                <span>Task #</span>
                                                <span>01.01</span>
                                            </li>
                                        </ul>
                                        <button aria-label="addtaskbutton"  class="btn text-black bg-white" type="submit">+ Add
                                            task</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>


<!--notification on hover block-->
<div class="modal__masage">
    <div class="modal__masage-container ">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="../2560px-A-Cat.jpg" alt="cat">
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
    <div class="modal__masage-container">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="../2560px-A-Cat.jpg" alt="cat">
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
    <div class="modal__masage-container">
        <div class="modal__masage-adreser">
            <div class="modal__masage-image">
                <img src="../2560px-A-Cat.jpg" alt="cat">
            </div>
            <span>Admin</span>
        </div>
        <div class="modal__masage-box"></div>
    </div>
</div>

<!--account on hover block-->
<div class="modal__account">
    <a href="#" class="modal__account-block">
        <span>Profile</span>
    </a>
    <a href="#" class="modal__account-block">
        <span>Log out</span>
    </a>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="./header.js"></script>


<script src="./JQ.js"></script>
<!-- <script src="./tasks.js"></script> -->

</body>
</html>