
html {
    box-sizing: border-box;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* these will reset other properties, like background-position, but it does know what you mean */
    /* background: linear-gradient(-45deg, #d4d9c4, #bed3b9, #bbccad, #a4e39e);*/
    background-color: aliceblue;
    font-family: "Dosis", sans-serif;
}



.links-div {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Optional: Center items vertically */
}

.links-div a {
    display: block;
    position: inherit;
    margin: 10px 10px 10px 20px;
    top: 30%;
    text-decoration: none;
    transition: transform 0.3s ease;
    color: black;
    font-size: larger;
}

.links-div a:hover {
    transform: scale(1.1);
}

#students-text {
    margin-bottom: 2rem;
}

#students-add-button {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: absolute;
    right: 5%;
    top: 17%;
    width: 35px;
    height: 35px;
}
.scrollable-table {
    top: 25%;
    left: 20%;
    padding: 10px;
}

.table-container {
    border: 2px solid #dad6d1;
    background-color: #eceae6;
    border-radius: 7px;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    height: 265px;
    max-height: 550px;
    flex-direction: column;
    resize: vertical;
}

.scrollable-table th,
.scrollable-table td {
    text-align: center; /* Центруємо текст у комірках */
    padding: 8px;
    border: 1px solid #ddd;
}

.table-row td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
    /* background-color: #ffffff; Set the background color for even or odd rows */
}

tr {
    background-color: #f2f2f2;
}
thead tr {
    background-color: #fff;
}
/* Додаємо різні кольори для рядків таблиці */
/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */
/*
tr:nth-child(odd) {
    background-color: #ffffff;
} */

.scrollable-table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff; /* Опціонально: задайте колір фону, який відповідає вашому дизайну */
}

th {
    background-color: #f2f2f2;
}

td input,
th input {
    height: 20px;
    width: 20px;
}

.status-cell {
    position: relative; /* Зробити комірку позиціонованою відносно */
}

.active .status-circle-indicator {
    background-color: grey;
}

.status-circle-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(5, 255, 26, 0.37);
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning__page,
.adding__page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: #00000083;
    z-index: 9999;
}

.adding__block {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #222222;
}

.warning__header,
.adding__header {
    height: 15%;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.warning__header h2,
.adding__header h2 {
    font-size: 30px;
    font-weight: bold;
}

.warning__header button,
.adding__header button {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.adding__form {
    height: 70%;
    border-bottom: 1px solid #222222;
    padding: 10% 0;
}

.form__flex-box {
    max-width: 350px;
    margin-inline: auto;
}

.form__item {
    margin-bottom: 30px;
}

.form__item input,
.form__item select {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-inline: auto;
    border: 1px solid #222222;
    padding-left: 10px;
}

.adding__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;
}

.warning__footer button,
.adding__footer button {
    padding: 0 30px;
    height: 30px;
    border: 1px solid #000;
}

.warning__footer button,
.adding__footer button:last-child {
    margin-left: 20px;
}

.warning__block {
    width: 100%;
    max-width: 800px;
    max-height: 370px;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #222222;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Розміщення контенту від верху до низу */
}

.warning__main {
    border-bottom: 1px solid #222222;
    font-weight: 500;
    font-size: clamp(25px, 3vw, 35px);
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.warning__footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

.edit-page,
.editing-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: #00000083;
    z-index: 9999; /* Встановлення максимального z-index */
}

.edit-block {
    width: 100%;
    max-width: 500px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #222222;
    position: relative; /* Додано для позиціонування по центру */
}

/* Додано стилі для позиціонування по центру екрану */
.edit-page .edit-block,
.editing-page .edit-block {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-header {
    height: 15%;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.edit-header h2 {
    font-size: 30px;
    font-weight: bold;
}

.edit-header button {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}

.edit-form {
    height: 70%;
    border-bottom: 1px solid #222222;
    padding: 10% 0;
}

.form-flex-box {
    max-width: 350px;
    margin-inline: auto;
}

.form-item {
    margin-bottom: 30px;
}

.form-item input,
.form-item select {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-inline: auto;
    border: 1px solid #222222;
    padding-left: 10px;
}

.editing-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 30px;
}

.editing-footer button {
    padding: 15px 30px;
    border: 1px solid #000;
}

.editing-footer button:last-child {
    margin-left: 20px;
}



@media screen and (max-width: 830px) {
    .content-container {
        flex-direction: column;
    }

    .links-div {
        flex-direction: row;
    }

    .right-container {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .table-container {
        font-size: 14px;
    }
}
