@import url('null_style.css');


/* =============== main ============== */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}


.main__container {
    margin-inline: auto;
    padding-right: 30px;
}

.main__flex-box {
    display: flex;
    min-height: calc(100vh - 70px);
    align-items: stretch;
}

.content {
    flex: 1 1 auto;
    padding: 0 20px;
    margin-bottom: 50px;
}


/* ================= navigation ====================== */

.navigation {
    flex: 0 1 150px;
    padding: 30px 25px;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Optional: Center items vertically */
    font-size: larger;
}

.navigation__block {
    margin-bottom: 30px;
}

.navigation__block a {
    display: block;
    position: inherit;
    margin: 10px 10px 10px 20px;
    top: 30%;
    text-decoration: none;
    transition: transform 0.3s ease;
    color: black;
    font-size: larger;
}

.navigation__block a:hover {
    transform: scale(1.1);
}



#notification-button:active {
    background-color: rgba(
            0,
            0,
            0,
            0.1
    ); /* Змінюємо колір фону кнопки при натисканні */
}

#notification-button:hover {
    transform: rotate(15deg) translateY(-2px);
}



/* ======== Task bord ================= */

.display-5 {
    margin: 40px 0;
    font-weight: bold;
}

.list-group-item {
    padding: 1rem; /* Adjust padding as needed */
    border: 1px solid #000; /* Border color (black in this example) */
    border-radius: 0.25rem; /* Optional: Rounded corners */
    margin: 5px 0px;
}
.display-7 {
    font-size: 1.75rem; /* Adjust font size as needed */
    font-weight: bold; /* Makes the text bold */
}


.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.empty__massage {
    display: none;
}

@media (max-width: 1250px) {
    .main__flex-box {
        display: block;
    }

    .content {
        padding: 0 10px;
    }


    .navigation {
        display: flex;
        padding: 20px 50px;
        flex-direction: row;
        justify-content: left;
    }

    .navigation__block {
        margin: 0;
    }


    .main__container {
        padding: 0;
    }

}

@media (max-width: 650px) {
    .navigation {
        padding: 10px;
    }
}